.App {
  text-align: center;
}

.App-header {
  background-image: url('https://www.hellomagazine.com/imagenes/travel/2018072750655/75-things-you-need-to-pack-holidays/0-247-939/Packing-suitcase-t.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  border-top: 10px;
  margin: 0px 0px 2px 0px;
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 22px;
  color: rgb(16, 6, 6);
}

nav ul {
  list-style-type: none;
}
nav li {
  display: inline;
  padding: 15px;
}

nav a:hover {
  color: rgb(103, 43, 170);
}

input {
  padding: 5px;
  margin: 5px;
  width: 150px;
}

.searchContainer {
  display: flex;
  justify-content: space-around;
}

h5 {
  padding: 10px;
}