.App {
  text-align: center;
}

.App-header {
  background-color: #b05970;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  border-top: 10px;
}

nav a,
nav a:visited {
  text-decoration: none;
  font-size: 22px;
  color: white;
}

nav ul {
  list-style-type: none;
}
nav li {
  display: inline;
  padding: 10px;
}

nav a:hover {
  color: rgb(247, 247, 2);
}

input {
  padding: 5px;
  margin: 5px;
  width: 150px;
}
